Checks: >
  *, 
  -altera-struct-pack-align,
  -altera-unroll-loops,
  -android-cloexec-fopen,
  -hicpp-signed-bitwise,
  -llvmlibc-restrict-system-libc-headers,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -readability-function-cognitive-complexity,
  -readability-implicit-bool-conversion,
  -misc-no-recursion,
  -altera-id-dependent-backward-branch,
  -bugprone-easily-swappable-parameters,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -cppcoreguidelines-init-variables,
  -clang-analyzer-security.VAList,
  -Wmacro-redefined,
  -hicpp-use-nullptr,
  -modernize-use-nullptr,
  -bugprone-macro-parentheses
WarningsAsErrors: ''
HeaderFilterRegex: '^(src|include)/.*'
ExcludeHeaderFilterRegex: '.*(mingw|msys|ucrt|usr|clang|windows|build).*'
FormatStyle: file